doctype html 
html(lang="en")
    head 
        title About Page 
        style 
            include ./style.css 
    body
         header 
            h1 Go My Code 
            nav
                ul 
                    li: a(href="./home") Home 
                    li: a(href="./about") About