doctype html
html(lang="en")
    head 
        title Homepage 
        style 
            include .style.css

    body 
         header 
            h1 Go My Code 
            nav
                ul 
                    li: a(href="#") Home 
                    li: a(href="#") About 

