body{
    text-align: center;
    justify-content: center;
}
.login-form{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 4;
    padding: 20px;
}
.user{
    padding: 20px;
}